@charset "UTF-8";

/*
全体
====================================*/
p {
  font-size: 13px;
  color: #654;
  line-height: 30px;
}

main {
  margin: 1rem;
}

hr {
  margin: 0 2rem;
}

footer {
  text-align: center;
}

/*
header
=====================================*/
.site-name {
  font-size: 10px;
  color: rgb(255, 255, 255);
  background-color: #987;
  padding: 7px;
}

/*
main
======================================*/
.cover {
  max-width: 100%;
  border-radius: 10px;
}

.detail {
  background-color: antiquewhite;
  margin: 2.5rem 0;
  padding: 0px 5px;
  border-radius: 16px;
}

.detail p {
  padding: 0.5rem;
}

.title {
  text-decoration: underline;
  font-size: 19px;
}

.pos-left {
  text-align: left;
}

.cafe-description {
  padding: 1rem;
}

.pos-center {
  text-align: center;
}

/*
cafe
===================================*/
.cafe-content {
  margin-bottom: 4rem;
}

.cafe-name {
  text-align: center;
}

.cafe-img {
  display: flex;
  justify-content: center;
}

.cafe-img {
  max-width: 100%;
  border-radius: 10px;
}
